<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HERRSCHWARZIFY</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<style>
    form {
        margin: auto;
        text-align: center;
    }
</style>
<body>
<div>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">
        <img style="width: 400px" src="{{ url_for('herrschwarz') }}" alt="Herr Schwarz">
        <input type="file" name="file"><input type="submit" value="HERRSCHWARZIFY">
        <p><a href="https://github.com/romangraef/herrschwarzify">GITHUB</a></p>
    </form>
</div>
</body>
</html>